body {
    display: grid;
    grid-template-areas: 'navbar'
                          'banner'
                          'main'
                          'section'
                          'footer';
    grid-template-columns: 100vw;
    margin: 0;

}

header{
    grid-area: banner;
    background-image: url(../images/banner.jpg);
    background-position: cover;
    background-position: bottom;
    height: 200px;
}

main {
    grid-area: main;
    text-align: center;
    background-color: black;
}

main h1, main p {
    color: aliceblue;
}


nav {
    background-color: blue;
    grid-area: navbar;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1% 5%;
}

nav div{
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    
}

nav div:nth-child(2){
    display:flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    padding: 0 20px;
}

nav div:nth-child(1) {
    display: none;
}

nav div:nth-child(2) {
    display: block;
}

nav div span{
    background-color: black;
    height: 3px;
    width: 30px;
    border-radius: 30px;
}

nav img{
    width: 15%;
}

section .personagens {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
}


section {
    grid-area: section;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* Pode chamar quantas tags quiser dentro do @media*/
@media(min-width:580px){
    header {
        background-image: url(../images/banner.jpg)
    }
    section .personagens{
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
    }
}

